.f2c-7-l0Uqmv {display: flex;flex-direction: column;justify-content: flex-start;align-items: center;padding-top: 69px;width: 711px;height: 481px;background-image: url('./assets/ImageAsset1.png');background-size: 100%;background-repeat: no-repeat;};
.f2c-qTH26o1n {display: flex;flex-direction: row;justify-content: space-between;align-items: center;width: 274.2px;height: 47px;};
.f2c-NATnnnnV {display: flex;justify-content: space-between;align-items: center;};
.f2c-CDZhDUm- {transform: rotate(-45deg);width: 5px;background-color: rgba(254,250,222,1);min-height: 5px;};
.f2c-Xk3DCCwS {transform: rotate(-45deg);width: 9.2px;background-color: rgba(254,250,222,1);min-height: 9.2px;};
.f2c-efmiLNxs {width: 156px;height: 37.4px;};
.f2c-YHvF7dWZ {transform: rotate(-180deg);display: flex;justify-content: space-between;align-items: center;};
.f2c-qaj4k2Vw {transform: rotate(-135deg);width: 9.2px;background-color: rgba(254,250,222,1);min-height: 9.2px;};
.f2c-wt1Gxefo {transform: rotate(-135deg);width: 5px;background-color: rgba(254,250,222,1);min-height: 5px;};
.f2c-kh1668rJ {margin-top: 33.1px;font-family: 'PingFang SC', sans-serif;font-size: 24px;text-align: center;white-space: nowrap;color: rgba(255,244,210,1);line-height: 100%;font-weight: 500;};
.f2c-1-kh1668rJ {color: rgba(255,217,158,1);};
.f2c-nkJ3nXtv {margin-top: 2.3px;position: relative;width: 672px;height: 261.2px;};
.f2c-DRv3xtLa {width: 672px;height: 259px;};
.f2c-MZJHt-ku {width: 672px;height: 259px;position: absolute;top: 0px;left: 0px;};
.f2c-nx8dYrFU {width: 610px;min-height: 254.2px;position: absolute;top: 7px;left: 32px;z-index: 10;};
